{% extends "layout.html" %} {% block content %}

<br>


<div class="row justify-content-center header">
    <div class="col-md-8">
        <span class="bold"> Test to see if you are ready to become the next David Beckham!! </span>
        <br>
        <br>
        <span class="small">
            Need to get a score of 4 and above to pass the test
        </span>
    </div>
    <div class="col-md-4 embed-responsive embed-responsive-16by9">
        <iframe src="https://gifer.com/embed/3tLo" class="embed-responsive-item" title="David Beckham combing hair back" frameBorder="0" allowFullScreen></iframe>
    </div>
</div>


<div class="quiz_header">
    Quiz - 5 Questions
    <br>
    <a id="start_quiz" class="btn" href=/freekick/1>Learn Again</a>
    <a id="start_quiz" class="btn" href=/quiz/1>Start</a>

</div>


{% endblock %}